<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <!---<div class="text-center d-flex" >
      <div class="text-center w-100"> -->
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <div class="text-center d-flex" >
              <div class="text-center w-100 flex-grow-1 ms-3 ">
        <h2 class ='display-2 brown'>Welcome to Larkspur and Lilies!</h1>
        <p class ='brown'>Feel free to purchase one of our beautiful flowers! </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
        <img src="/imgs/pinkfield.jpeg" class ="img-fluid" xalt="">
      </div>
    </div>
    <main>
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <% if (i == 0 || posts[i].category != posts[i-1].category) { %>
            <a href="/flowerFor/<%=posts[i].category%>" class=" front display-3 mt-4 brown link-hover"><%=posts[i].category[0].toUpperCase() + posts[i].category.slice(1) %> Flowers</a>
          <% } %>
          <!-- Start of list item -->
          <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
            <a href="/post/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>">
            </a>
            <!-- image and anchor -->
             <div class="d-flex justify-content-between">
                <h6 class=""><%=posts[i].title%></h6>
                <!-- title -->
          <% } %>
      </ul>
        
    </main>
<%- include('partials/footer') -%>
</body>
</html>
