<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <!---<div class="text-center d-flex" >
      <div class="text-center w-100"> -->
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <div class="text-center d-flex" >
              <div class="text-center w-100 flex-grow-1 ms-3 ">
        <h2 class=" brown link-hover display-2">Welcome to Larkspur and Lilies!</h2>
        <p class="brown">Feel free to purchase one of our beautiful flowers! </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
        <img src="/imgs/pinkfield.jpeg" class ="img-fluid" xalt="">
      </div>
    </div>
    <main>
      <div class="text-center d-flex">
        <div class="text-center w-100 front mt-4 brown link-hover"">
        <h2 class = "display-3"> Our Flower Categories!</h2>
      </div>
      </div>
        <div class="container">
            <div class="row align-items-start">
                <a href="/flowersFor/birthday" class=" front display-4 mt-4 brown link-hover">Birthday Flowers</a>
                <span class = "display-6 brown">A perfect gift for someone's special day</span>

            </div>

              <ul class="row list-unstyled">
                <% let count = 0; %>
                <% for(var i=0; i<posts.length && count < 3; i++) {%>

                  <% if(posts[i].category.includes('birthday')) { %>
                    <!-- Start of list item -->
                    <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="card-img-top" src="<%= posts[i].image%>">
                      </a>
                      <!-- image and anchor -->
                       <div class="d-flex justify-content-between">
                          <h6 class=""><%=posts[i].title%></h6>
                       </div>
                    </li>
                    <% count++; %>
                          <!-- title -->
                      <% } %>
                    <% } %>
              </ul>

              <div class="container text-center d-flex"">
                <div class="text-center w-100 front mt-4 brown link-hover"">
                <a class = "display-6 brown" href="/flowersFor/birthday">More Flowers Here</a>
              </div>
            </div>


              <div class="container">
                <div class="row align-items-start">
                    <a href="/flowersFor/best%20Sellers" class=" front display-4 mt-4 brown link-hover">Best Sellers</a>
                    <span class = "display-6 brown">Our Best and Greatest</span>
                </div>


              <ul class="row list-unstyled">
                <% let count1 = 0; %>
                <% for(var i=0; i<posts.length && count1 < 3; i++) {%>

                  <% if(posts[i].category.includes('best Sellers')) { %>
                    <!-- Start of list item -->
                    <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="card-img-top" src="<%= posts[i].image%>">
                      </a>
                      <!-- image and anchor -->
                       <div class="d-flex justify-content-between">
                          <h6 class=""><%=posts[i].title%></h6>
                       </div>
                    </li>
                    <% count1++; %>
                          <!-- title -->
                      <% } %>
                    <% } %>
              </ul>

              <div class="container text-center d-flex"">
                <div class="text-center w-100 front mt-4 brown link-hover"">
                <a class="display-6 brown" href="/flowersFor/best%20Sellers">More Flowers Here</a>
              </div>
            </div>



              <div class="container">
                <div class="row align-items-start">
                    <a href="/flowersFor/anniversary" class=" front display-4 mt-4 brown link-hover">Anniversary Flowers</a>
                    <span class = "display-6 brown">Celebrate the journey with something special</span>
                </div>

              <ul class="row list-unstyled">
                <% let count2 = 0; %>
                <% for(var i=0; i<posts.length && count2 < 3; i++) {%>

                  <% if(posts[i].category.includes('anniversary')) { %>
                    <!-- Start of list item -->
                    <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="card-img-top" src="<%= posts[i].image%>">
                      </a>
                      <!-- image and anchor -->
                       <div class="d-flex justify-content-between">
                          <h6 class=""><%=posts[i].title%></h6>
                       </div>
                    </li>
                    <% count2++; %>
                          <!-- title -->
                      <% } %>
                    <% } %>
              </ul>

              <div class="container text-center d-flex"">
                <div class="text-center w-100 front mt-4 brown link-hover"">
                <a class="display-6 brown" href="/flowersFor/anniversary">More Flowers Here</a>
              </div>
            </div>


              <div class="container">
                <div class="row align-items-start">
                    <a href="/flowersFor/sympathy" class=" front display-4 mt-4 brown link-hover">Get Well Bouquets</a>
                    <span class = "display-6 brown">Special Bouquets for those in need of being cheered up </span>
                </div>

              <ul class="row list-unstyled">
                <% let count3 = 0; %>
                <% for(var i=0; i<posts.length && count3 < 3; i++) {%>

                  <% if(posts[i].category.includes('sympathy')) { %>
                    <!-- Start of list item -->
                    <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="card-img-top" src="<%= posts[i].image%>">
                      </a>
                      <!-- image and anchor -->
                       <div class="d-flex justify-content-between">
                          <h6 class=""><%=posts[i].title%></h6>
                       </div>
                    </li>
                    <% count3++; %>
                          <!-- title -->
                      <% } %>
                    <% } %>
              </ul>

              <div class="container text-center d-flex"">
                <div class="text-center w-100 front mt-4 brown link-hover"">
                <a class="display-6 brown" href="/flowersFor/sympathy">More Flowers Here</a>
              </div>
            </div>

              <div class="container">
                <div class="row align-items-start">
                    <a href="/flowersFor/congratulations" class=" front display-4 mt-4 brown link-hover">Congratulations Flowers</a>
                    <span class = "display-6 brown">Celebrate your achievements with a floral present</span>
                </div>

            <ul class="row list-unstyled">
              <% let count4 = 0; %>
              <% for(var i=0; i<posts.length && count4 < 3; i++) {%>

                <% if(posts[i].category.includes('congratulations')) { %>
                  <!-- Start of list item -->
                  <li class="col-4 mt-3" id ="<%= posts[i].id %>" >
                    <a href="/post/<%= posts[i]._id%>">
                      <img class="card-img-top" src="<%= posts[i].image%>">
                    </a>
                    <!-- image and anchor -->
                     <div class="d-flex justify-content-between">
                        <h6 class=""><%=posts[i].title%></h6>
                     </div>
                  </li>
                  <% count4++; %>
                        <!-- title -->
                    <% } %>
                  <% } %>
            </ul>

          <div class="container text-center d-flex"">
            <div class="text-center w-100 front mt-4 brown link-hover"">
            <a class="display-6 brown" href="/flowersFor/congratulations">More Flowers Here</a>
          </div>
        </div>



        </div>
    </main>
<%- include('partials/footer') -%>
</body>
</html>
