<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Larkspur and Lilies</title>
</head>
<body>
    <%- include('partials/header') -%>
    <!---<div class="text-center d-flex" >
      <div class="text-center w-100"> -->
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <div class="text-center d-flex" >
              <div class="text-center w-100 flex-grow-1 ms-3 ">
        <h2 class ='display-2 brown'>Welcome to Larkspur and Lilies!</h1>
        <p class ='brown'>All organic, pestide free, and grown with love</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
        <img src="/imgs/bouquet.png" class ="img-fluid mt-4" xalt="">
      </div>
    </div>
    <main>
      <section class = 'row justify-content-center'>
        <% for(var i=0; i<posts.length; i++) {%>
          <% if (i == 0 || posts[i].category != posts[i-1].category) { %>
            <h3 class = 'front text-center display-4 mt-4 '>
              <a href="/flowerFor/<%=posts[i].category%>" class="brown link-hover"><%=posts[i].category[0].toUpperCase() + posts[i].category.slice(1) %> Flowers</a>
            </h3>
          <% } %>
            <!-- Start of list item -->
          <div class="col-3 mt-4 mx-3" id ="<%= posts[i].id %>" >
            <a href="/post/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>">
            </a>
            <h6 class="text-center"><%=posts[i].title%></h6>
            <!-- title -->
          </div>
        <% } %>
      </section>
    </main>
<%- include('partials/footer') -%>
</body>
</html>
