<%- include('partials/header') -%>
<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-6 text-center d-flex flex-column">
      <h2 class="display-6 text-start pb-1 brown"><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <a class="btn btn-outline-success my-4" href="/feed">Keep smelling the Flowers</a>
    </div>

    <div class="col-4 mt-5 brown">
      <p class="lead"><%= post.caption %></p>
      <p>$<%= post.price %></p>
      <% if(post.bloom.length>0) { %>
        <p>Includes: <%= post.bloom %> </p>
      <% } %>
      <button class="btn btn-outline-success cartButton add-to-cart" data-id="<%= post._id %>" data-img="<%= post.image %>" data-price="<%= post.price %>" data-title="<%= post.title %>">Add to Cart</button>
      <a href= "/cart" class="btn btn-outline-success ">Checkout</a>
    </div>
  </div>
  
  <a href="/cart" class="shopping-cart" data-product-count= '0'>
    <span class="cart-icon">&#128722;</span>
  </a>
</div>
<script>
  let productCount = 0;
  if (localStorage.getItem("count")) {
      productCount = parseInt(localStorage.getItem("count"));
  }
  document.querySelector('.shopping-cart').setAttribute('data-product-count', productCount)
</script>
<%- include('partials/footer') -%>
