<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type = "Number" class="form-control" id="price" name="price">
              </div>
              <div class="mb-3">
                <label for="category" class="form-label">Choose a Category:</label>
                <select name="category" id="category">
                  <option value="bestSellers">Best Sellers</option>
                  <option value="roses">Roses</option>
                  <option value="birthday">Birthday</option>
                  <option value="Anniversary">Anniversary</option>
                  <option value="getWell">Get Well</option>
                  <option value="sympathy">Sympathy</option>
                  <option value="Congratulations">Congratulations</option>
                  <option value="justBecause">Just Because</option>
                </select>
              </div>
              <fieldset class="mb-3">
                <legend>Add Flower Types</legend>
                <div>
                  <input type="checkbox" name="bloom" value="carnations"> 
                  <label for="Carnation">Carnation</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="mums"> 
                  <label for="Chrysanthemum/Mums">Chrysanthemum/Mums</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="cosmos">
                  <label for="Cosmos">Cosmos</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="daffodils"> 
                  <label for="Daffodil">Daffodil</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="dahlias"> 
                  <label for="Dahlia">Dahlia</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="daisies">  
                <label for="Daisy">Daisy</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="delphiniums"> 
                <label for="Delphinium">Delphinium</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="galdiolus"> 
                  <label for="Galdiolus">Galdiolus</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="hydrangeas">  
                  <label for="Hydrangea">Hydrangea</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="irises">  
                  <label for="Iris">Iris</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="jonquils">  
                  <label for="Jonquil">Jonquil</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="lilies"> 
                  <label for="Lily">Lily</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="orchids"> 
                  <label for="Orchid">Orchid</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="peonies"> 
                  <label for="Peony">Peony</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="primrose"> 
                  <label for="Primrose">Primrose</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="sunflowers"> 
                  <label for="Sunflower">Sunflower</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="sweet peas"> 
                  <label for="Sweet Pea">Sweet Pea</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="tulips"> 
                  <label for="Tulip">Tulip</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="roses"> 
                  <label for="Rose">Rose</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" value="violets">  
                  <label for="Violet">Violet</label>
                </div>
          
              </fieldset>
              
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>