<%- include('partials/header') -%>

<div class="container">
  <div class="row mt-5">
      <div class="col-6">
        <h1>Admin Page</h1>
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-2">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-2">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-2">
                <label for="price" class="form-label">Price</label>
                <input type = "number" class="form-control" id="price" name="price">
              </div>
              <div class="mb-2">
                <label for="category" class="form-label">Choose a Category:</label>
                <select name="category" id="category">
                  <option value="best Sellers">Best Sellers</option>
                  <option value="birthday">Birthday</option>
                  <option value="anniversary">Anniversary</option>
                  <option value="sympathy">Get Well/Sympathy</option>
                  <option value="congratulations">Congratulations</option>
                </select>
              </div>
              <fieldset class="mb-2">
                <legend class="form-label">Put Item on Sale?</legend>
                <div>
                  <input type="radio" name="onSale" id = "sale false" value='false' checked> 
                  <label for="sale false">False</label>
                </div>
                <div>
                  <input type="radio" name="onSale" id = "sale true" value='true' > 
                  <label for="sale true">True</label>
                </div>
              </fieldset>
              <div>
                <label for="discount" class="form-label">Discount</label>
                <input type = "number" class="form-control" id="discount" name="discount" default = 0 placeholder='0.00'>
              </div>
          
              <fieldset class="my-2">
                <legend class="form-label">Add Flower Types</legend>
                <div>
                  <input type="checkbox" name="bloom" id ="Carnation" value="carnations"> 
                  <label for="Carnation">Carnation</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Chrysanthemum/Mums" value ="Chrysanthemum/Mums"> 
                  <label for="Chrysanthemum/Mums">Chrysanthemum/Mums</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Cosmos" value="cosmos">
                  <label for="Cosmos">Cosmos</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Daffodil" value="daffodils"> 
                  <label for="Daffodil">Daffodil</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Dahlia" value="dahlias"> 
                  <label for="Dahlia">Dahlia</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Daisy" value="daisies">  
                <label for="Daisy">Daisy</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Delphinium" value="delphiniums"> 
                <label for="Delphinium">Delphinium</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Galdiolus" value="galdiolus"> 
                  <label for="Galdiolus">Galdiolus</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Hydrangea" value="hydrangeas">  
                  <label for="Hydrangea">Hydrangea</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Iris" value="irises">  
                  <label for="Iris">Iris</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Jonquil" value="jonquils">  
                  <label for="Jonquil">Jonquil</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Lily" value="lilies"> 
                  <label for="Lily">Lily</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Orchid" value="orchids"> 
                  <label for="Orchid">Orchid</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Peony" value="peonies"> 
                  <label for="Peony">Peony</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Primrose" value="primrose"> 
                  <label for="Primrose">Primrose</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Sunflower" value="sunflowers"> 
                  <label for="Sunflower">Sunflower</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Sweet Pea" value="sweet peas"> 
                  <label for="Sweet Pea">Sweet Pea</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Tulip" value="tulips"> 
                  <label for="Tulip">Tulip</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Rose" value="roses"> 
                  <label for="Rose">Rose</label>
                </div>
                <div>
                  <input type="checkbox" name="bloom" id = "Violet" value="violets">  
                  <label for="Violet">Violet</label>
                </div>

              </fieldset>
              
              <div class="mb-2">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imgUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">

        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <% if (i == 0 || posts[i].category != posts[i-1].category) { %>
            <h2><%=posts[i].category[0].toUpperCase() + posts[i].category.slice(1) %> Flowers</h2>
          <% } %>
          <!-- Start of list item -->
          <li class="col-6 mt-3" id ="<%= posts[i].id %>" >
            <a href="/post/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>">
            </a>
            <!-- image and anchor -->
             <div class="d-flex justify-content-between">
                <h6 class=""><%=posts[i].title%></h6>
                <!-- title -->
                <form 
                  action="/post/deletePost/<%= posts[i].id %>?_method=DELETE"
                  method="POST" 
                  class="">
                    <button class="fa fa-trash" type="submit"></button>
                </form>
                <!-- trash button moved from post.ejs -->
             </div>
            
            <div class="btn-group-sm">
               <form 
              action="/post/soldOut/<%= posts[i].id %>?_method=PUT"
              method="POST" 
              class="">
                  <button class="btn btn-outline-success btn-sm fa" id= 'availableButton' type="submit">Available: <%=posts[i].available%></button>
              </form>
              <!--available button  -->
              <button 
              class="<%= posts[i].onSale === true ? 'btn btn-outline-warning btn-sm fa changeDiscountButton' : 'btn btn-outline-success btn-sm fa changeDiscountButton' %> "
              type="button">
                Change Discount: <%=posts[i].discount%>
              </button>
              <!-- discount dropdown toggle button -->
              <form 
              action="/post/onSale/<%= posts[i].id %>?_method=PUT" 
              method="POST" 
              class="hidden text-center"
              name ="onSaleForm"
              id ="onSaleForm">
                  <label for="discountUpdate" class="form-label">Enter Discount:</label>
                  <input type="number" class="form-control" id="discountUpdate" name="discountUpdate">
                  <button class="btn btn-success mt-1" id ='onSaleButton' type="submit">Update</button>
              </form> 
              <!-- add on sale button -->
             
            </div>
        </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
